body{
font-family: Arial;
margin:0;
background:#f3e5f5;
text-align:center;
}

.title{
margin-top:20px;
}

.profile-img{
width:60%;
margin-top:50%;
height:auto;	
display:block;
margin:auto;
border-radius:10px;
box-shadow:0 4px 10px rgba(103, 58, 183, 0.3);
}

/* FLEXBOX */
.flex-container{
display:flex;
flex-direction:row-reverse;
justify-content:center;
gap:25px;
margin-top:30px;
}

/* BOX STYLE */
.box{
width:200px;
height:70px;
background-color:#673ab7;
color: white;
border-radius:12px;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
font-size:18px;
box-shadow:0 3px 8px rgba(0,0,0,0.2);
transition:0.3s;	
}

/* HOVER EFFECT */
.box:hover{
background-color:#add8e6;
transform:scale(1.05);
transition:0.3s;
}

.about{
width:70%;
margin:auto;
margin-top:30px;
font-size:16px;
line-height:1.6;
}
.profile-bg {
	width:400%;
	max-width:1200px;
	height:auto;
	display:block;
	margin:0 auto;
}

		








